{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span14">
    <h2>Welcome to RapidSMS.</h2>
  </div>
</div>
<div class="row">
  <div class="span7">
    <h3>Success!</h3>
    You have successfully set up RSMS. This sample configuration lets you see how a simple application works using localization for lanagues.  Click on "Console" to send some test messages.
  </div>
  <div class="span7">
    <h3>Customization</h3>
    Once you have a feel for things, feel free to customize, this template is located in /templates/dashboard/index.html
  </div>
</div>
{% endblock %}
