{% extends "smartmin/update.html" %}

{% block form-span %}span12{% endblock %}

{% block extra-script %}
{{ block.super }}
<script>

  $(function(){
      // add our counter div
      $("<div class='counter'>&nbsp;</div>").insertBefore("textarea");
      
      function updateCounter(){
          var len = $(this).val().length;

          $(this).prev().text(len);

          if (len > 160){
              $(this).prev().addClass("long");
          } else {
              $(this).prev().removeClass("long");
          }
      }
      
      // initialize all our text areas
      $("textarea").each(updateCounter);

      // and register them all for being updated on keyUp
      $("textarea").keyup(updateCounter);
  });
</script>
{% endblock %}

{% block extra-style %}
<style>
  textarea {
      width: 500px;
  }

  .counter {
      float: right;
      position: absolute;
      width: 25px;
      margin-left: -45px;
      margin-top: 20px;
      text-align: right;
      font-size: 10px;
      color: #555;
  }

  .long {
      color: #800;
  }
</style>
{% endblock %}
